@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1a1b26; /* Background */
  --surface-color: #2a2c3c; /* Surface */
  --text-primary: #ffffff; /* Primary Text */
  --text-secondary: #a5b2c1; /* Secondary Text */
  --accent-color: #a4321c; /* USC Cardinal */
  --highlight-color: #c2a34a; /* USC Gold */
  --blue-color: #7aa2f7; /* Blue */
  --purple-color: #bb9af7; /* Purple */
  --yellow-color: #e0af68; /* Yellow */
  --red-color: #ff5c7c; /* Red */
  --green-color: #a3be8c; /* Green */
  --orange-color: #d19a6a; /* Orange */
}

html,
body {
  @apply text-secondary h-full min-h-full flex justify-center items-center;
  line-height: 1.5;
}

.header-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  z-index: -1;
}

@layer base {
  h1 {
    @apply text-4xl font-bold drop-shadow-lg;
    font-family: "Montserrat", sans-serif;
  }

  h2 {
    @apply text-2xl font-bold mb-4 text-white;
    font-family: "Montserrat", sans-serif;
  }

  h3 {
    @apply text-xl font-bold;
    font-family: "Montserrat", sans-serif;
  }

  em {
    @apply text-gray-500;
  }

  a {
    @apply text-accent;
    transition: color 0.3s ease;
  }

  a:hover {
    @apply text-white;
  }
}

.icon {
  @apply mx-2;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100vw; /* Full viewport width */
  background-color: var(--accent-color);
  padding: 20px;
  margin-left: calc(-50vw + 50%);
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--text-primary);

  a:hover {
    color: var(--text-primary);
    background: var(--text-secondary);
  }

  .icon {
    margin-left: 0;
    margin-right: 16px;
    font-size: 32px;
  }
}

.fullscreen-iframe {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  border: none;
  display: block; /* Ensures the iframe takes up the whole viewport */
}

footer {
  text-align: right;
  color: gray;
}

@media (max-width: 800px) {
  .profile-pic {
    display: none;
  }
}
