:root {
  --bg-color: #1a1b26; /* Background */
  --surface-color: #2a2c3c; /* Surface */
  --text-primary: #ffffff; /* Primary Text */
  --text-secondary: #a5b2c1; /* Secondary Text */
  --accent-color: #a4321c; /* USC Cardinal */
  --highlight-color: #c2a34a; /* USC Gold */
  --blue-color: #7aa2f7; /* Blue */
  --purple-color: #bb9af7; /* Purple */
  --yellow-color: #e0af68; /* Yellow */
  --red-color: #ff5c7c; /* Red */
  --green-color: #a3be8c; /* Green */
  --orange-color: #d19a6a; /* Orange */
}

html,
body {
  /* font-family: "Playfair Display", serif; */
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.4;
  color: var(--text-secondary);
  background-color: var(--bg--color);
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the content fills the screen height */
}

a {
  color: var(--accent-color);
  text-decoration: none;
  border-radius: 12px;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--text-primary);
}

.content-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%; /* Adjust this percentage to control the width */
  max-width: 800px; /* Limits the maximum width */
  height: 100%; /* Occupy only 80% of the vertical screen space */
  max-height: 100vh; /* Limit the height to the full viewport */
  background-color: var(--bg-color);
  padding: 20px;
  overflow-y: auto;
}

.header-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  z-index: -1;
}

h1,
h2,
h3 {
  color: var(--text-primary);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

section {
  padding: 10px;
}

.icon {
  margin: 5px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100vw; /* Full viewport width */
  background-color: var(--accent-color);
  padding: 20px;
  margin-left: calc(-50vw + 50%);
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--text-primary);

  .profile-pic {
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--highlight-color);
    margin-bottom: 20px;
    margin-right: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative;
  }

  a:hover {
    color: var(--text-primary);
    background: var(--text-secondary);
  }

  .icon {
    margin-left: 0;
    margin-right: 10px;
    font-size: 32px;
  }

  .icon-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .icon-row a {
    display: flex;
    flex-grow: 1; /* Make all items take up equal width */
    min-width: 150px; /* Optional: Set a minimum width */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Keeps text color from changing */
    margin: 10px;
    padding: 0 10px;
  }
}

.publications {
  ul li {
    list-style-type: none;
    margin-left: -20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 3px solid var(--accent-color);
  }

  a span {
    margin-right: 5px;
    font-weight: 700;
  }

  .pub-title {
    color: var(--text-primary);
    font-weight: 800;
  }
}

.teaching {
  ul li {
    list-style-type: none;
    margin-left: -20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 3px solid var(--accent-color);
  }

  span {
    color: var(--text-primary);
    font-weight: bold;
  }
}

footer {
  text-align: right;
  color: gray;
}

@media (max-width: 800px) {
  .profile-pic {
    display: none;
  }
}
